<h1>Créer une nouvelle liste de favoris</h1>

<%= simple_form_for @favorite_list do |f| %>
  <div class="mb-3">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="text-center">
    <%= f.button :submit, 'Créer la liste de favoris', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Retour à la liste des favoris', favorite_lists_path, class: 'btn btn-secondary mt-3' %>
