<h1>scenes#show</h1>

<h1><%= @scene.title %></h1>
<h2><%= @scene.rating %></h2>

  <% @scene.reviews.each do |review| %>
      <p><%= review.content %></p>

  <% end %>

<%= simple_form_for [@scene, @review] do |f| %>
        <%= f.input :rating, collection: 0..5 %>
        <%= f.input :content%>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
      <%= link_to scene_path(@scene) %>

<%= link_to "delete", scene_path, class: 'btn btn-primary' %>

<div class="scene-card" data-controller="heart" data-heart-scene-id="<%= @scene.id %>">
  <div class="heart-icon" data-action="click->heart#showModal">&#x2665;</div>
  <div class="modal" data-heart-target="modal" style="display: none;">
    <p>Modal content</p>
    <button data-action="click->heart#hideModal">Fermer</button>
  </div>
</div>
