<div class="container-show-user">
<div class="image_centre user_show">
  <div class="container-user-show">
      <div class="col-md-1">
        <%= link_to(root_path) do %>
          <i class="fa-sharp fa-solid fa-arrow-left fa-2xl back-button"></i>
        <% end %>
      </div>
        <%= link_to() do %>
          <%# J'ai mis un faux path parce que l'edit n'est pas encore fait, je le remplace plus tard %>
          <i class="fa-solid fa-user-pen fa-2xl edit-button"></i>
        <% end %>
      </div>
      <h1><strong>MES TOURNAGES</strong></h1>
      <div class="user-profile">
      <h2 class="image_centre user-greeting">Bonjour <%= @user.username %></h2>


     <% if @user.certified? %>
    <i class="fa-solid fa-certificate certif-button"></i>
     <% end %>
<div class="space-between-sections" style="margin-bottom: 30px;"></div>
<h2>Vos favoris</h2>
<% if current_user.favorites.present? %>
  <div id="carouselExample" class="carousel slide favorite">
    <div class="carousel-inner">
      <% current_user.favorites.each_with_index do |favorite, index| %>
        <div class="carousel-item <%= index.zero? ? 'active' : '' %>">
          <%= render "shared/card_scene", scene: favorite.scene %>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<% else %>
  <p>Aucun film favori disponible</p>
<% end %>





    <div class="space-between-sections" style="margin-bottom: 30px;"></div>
    <h3>Vos listes</h3>
    <div class="myfavlist">
    <i class="fa-solid fa-heart heart"></i>
    <p class="titre"> Mes endroits favoris </p>
   </div>
    </div>
 <%= link_to(favorite_lists_path, class: "btn") do %>
  Mes listes favorites
   <% end %>


    <%= link_to(new_favorite_list_path, class: "btn") do %>
  Créer une nouvelle liste
   <% end %>
     <div class="space-between-sections" style="margin-bottom: 50px;"></div>
  </div>
  </div>
</div>

<%= link_to(new_scene_path, class: "btn") do %>
  Créer une nouvelle scene
   <% end %>
     <div class="space-between-sections" style="margin-bottom: 50px;"></div>
  </div>
  </div>
</div>



<div class="card-trip">
<%# <%= link_to new_scene_path do %>
  <div class="card-trip-infos">
    <div>
      <h2>AJOUTER UNE SCENE</h2>
      <p>Si Jedi tu es</p>
    </div>
    <div class="card-trip-pricing">
        <%= link_to new_scene_path do %>
        <i class="fa-solid fa-plus fa-xl" style="color: #0F2C59;"></i>
        <% end %>
    </div>
  </div>

 <img src="https://static.hitek.fr/img/up_m/315460810/capturedcran20230610180635.webp" />
  <div class="card-trip-infos-right">
    <div>
      <h2>Je suis Gandalf le Blanc </h2>
      <p>Et je reviens vers vous en ce moment décisif !</p>
    </div>
  </div>
  <%# <% end %>
</div>


<% current_user.scenes.each do |scene| %>
<%= render "shared/card_scene", scene: scene %>
<% end %>
