<div class="container-show-user">
<div class="image_centre user_show">
  <div class="container-user-show">
      <div class="col-md-1">
        <%= link_to(scenes_path) do %>
          <i class="fa-sharp fa-solid fa-arrow-left fa-2xl back-button"></i>
        <% end %>
      </div>
        <%= link_to(scene_path) do %>
          <%# J'ai mis un faux path parce que l'edit n'est pas encore fait, je le remplace plus tard %>
          <i class="fa-solid fa-user-pen fa-2xl edit-button"></i>
        <% end %>
      </div>
      <h1><strong>MES TOURNAGES</strong></h1>
      <div class="user-profile">
      <h2 class="image_centre user-greeting">Bonjour <%= @user.username %></h2>
      <p>Niveau : <%= @user.level %></p>

     <% if @user.certified? %>
    <i class="fa-solid fa-certificate certif-button"></i>
     <% end %>
     <div class="space-between-sections" style="margin-bottom: 30px;"></div>

    <h2>Vos favoris</h2>
    <div id="carouselExample" class="carousel slide favorite">
      <div class="carousel-inner">
        <div class="carousel-item active" id="carousel-1">
        </div>
        <div class="carousel-item" id="carousel-2">
        </div>
        <div class="carousel-item" id="carousel-3">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="space-between-sections" style="margin-bottom: 30px;"></div>
    <h3>Vos listes</h3>
    <div class="myfavlist">
    <i class="fa-solid fa-heart heart"></i>
    <p class="titre"> Mes endroits favoris </p>
   </div>
    </div>
 <%= link_to(favorite_lists_path, class: "btn") do %>
  Mes listes favorites
   <% end %>


    <%= link_to(new_favorite_list_path, class: "btn") do %>
  Créer une nouvelle liste
   <% end %>
   <div class="space-between-sections" style="margin-bottom: 50px;"></div>
  </div>
  </div>
</div>
