
  <div class="white_frame">
    <div class="box">
      <div class="card">
          <%= cl_image_tag(scene.photo.key, width: 355, height: 200, crop: :fill)%>

            <div class="card-img-overlay">
                <h3 class="card-text" ><%= scene.title %>,<%= scene.movie.title %></h3>
              <%= link_to scene_path(scene), class: "overlink" do  %>
                  <% if current_user.favorite_scenes.where(id: scene.id).first.nil? %>
                  <%= render "scenes/modal", favorite: @favorite, scene: @scene %>
                  <% else %>
                    <i class="fa-solid fa-heart fa-2xl" style="color: #ffffff;"></i>
                  <% end %>
                <h3 class="card-text_right"><%= scene.place.country %>, <%= scene.place.city %></h3>
              <% end  %>
            </div>
      </div>
    </div>
  </div>
