
  <div class="white_frame">
    <div class="box">
    <div class="card" style="background-image: url('<%= cl_image_path scene.photo.key, width: 355, height: 200, crop: :fill %>')">

      <div class="card-img-overlay">
                <h3 class="card-text" ><%= link_to scene.title, scene_path(scene)%>,<%= scene.movie.title %></h3>

                  <% if current_user.favorite_scenes.where(id: scene.id).first.nil? %>
                  <%= render "scenes/modal", favorite: @favorite, scene: @scene %>
                  <% else %>
                    <i class="fa-solid fa-heart fa-2xl" style="color: #ffffff;"></i>
                  <% end %>
                <h3 class="card-text_right"><%= scene.place.country %>, <%= scene.place.city %></h3>

             </div>
      </div>
    </div>
  </div>
