
<div class="box">
  <div class="card text-bg-dark">
    <img src="https://fr.web.img4.acsta.net/r_654_368/newsv7/19/10/24/14/31/2884301.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h3 class="card-text_left"><%= scene.title %>,<%= scene.movie.title %></h3>
      <h3 class="card-text_right">Country, ville</h3>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @favorite, remote: true do |f| %>
        <%= f.association :favorite_list, as: :hidden, input_html: { value: @scene.id } %>
        <div class="form-group">
    <%= f.button :submit, 'Ajouter à la liste de favoris', class: 'btn btn-primary' %>
       </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
